:root {
  --acc-color:#F8D24E;
  --main-bcg:#84A278;
  --modal-bcg: #FFFFFF;
  --card-bcg:#FCFCFC;
  --cream-bcg: #AEC6A5;
  --coffee-bcg: #EFD478;
  --milk-bcg: #D6936D;
  --cream-img-bcg: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
          #D9D9D9;
  --coffee-img-bcg: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
      #D9D9D9;
  --milk-img-bcg:linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
      #D9D9D9;
  --cow-bcg: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
             #D9D9D9;
  --first-font-color: #131313;
  --second-font-color: #000000;
  --alt-font-color:#FCFCFC;
  --time-font-color:#ABABAB;
  --contacts-font-color: #D6936D;
  --line-color: #E1E1E1;
  --bottom-font-color: #7A7A7A;
}

@media screen and (min-width: 320px) {
  html,
body {
    overflow-x: hiden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  background-color: var(--modal-bcg);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

link {
  text-decoration: none;
}

button {
  line-height: 0px;
  border: none;
  background: none;
  padding: 0px;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
body {
  background-repeat: repeat-y;
  background-size: 100%;
}

@media screen and (max-width: 767px) {
  body {
    background-image: url("../images/body/body-bcg-320.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/body-bcg-320@2x.png");
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url("../images/body/body-bcg-767.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/body-bcg-767@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url("../images/body/body-bcg-1193.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/body-bcg-1193@2x.png");
  }
}
.hero {
  text-align: center;
  height: 415px;
  background-color: var(--main-bcg);
  color: var(--alt-font-color);
}

.about-section {
  background: #84A178;
}

.about-section__caption {
  padding-top: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.about-section__title {
  margin-top: 12px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.contacts__block {
  position: absolute;
  top: -325px;
  left: 50%;
  transform: translate(-50%);
}

.contacts {
  position: relative;
  padding-top: 1110px;
  background-color: var(--main-bcg);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833333;
  letter-spacing: 0.04em;
}

.contacts__item {
  padding: 40px 32px;
  width: 280px;
  background: var(--card-bcg);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__suptitle {
  padding: 0 23px;
  margin-bottom: 20px;
  background: var(--acc-color);
  border-radius: 4px;
  display: inline-block;
  color: var(--alt-font-color);
  text-transform: uppercase;
}

.contacts__title {
  color: var(--second-font-color);
}

.contacts__title--margin {
  margin-bottom: 8px;
}

.contacts__text {
  color: var(--contacts-font-color);
}

.contacts__time {
  margin-bottom: 8px;
  color: var(--time-font-color);
}

.contacts__link {
  line-height: 1.5;
  color: var(--contacts-font-color);
  text-decoration: none;
}

.contacts__list--line::before {
  content: "";
  display: block;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.button {
  width: 161px;
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #FCFCFC;
  border: 2px solid var(--acc-color);
  border-radius: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
}/*# sourceMappingURL=index.css.map */