@import "./base/color-root";
@import "./base/base";
@import "./base/visually-hidden";
@import "./utils/animations";
@import "./utils/mixins";
@import "./base/container";

// components

@import "./components/hero-header";
@import "./components/products";
@import "./components/about";
@import "./components/advantages";
@import "./components/gallery";
@import "./components/customer-reviews";
@import "./components/contacts";
@import "./components/footer";
@import "./components/button";
@import "./components/modal-backdrop";
@import "./components/back-to-top";

// modal
@import "./components/modal-franchise.scss";
@import "./components/modal-buy-now.scss";
@import "./components/modal-locations.scss";
@import "./components/modal-read-more.scss";
@import "./components/modal-ingredients.scss";
// @import '.';
// @import '.';
// @import '.';
