<!-- // кнопка в хедері з svg по макету розміри svg w=4 h=8 дуже маленткий значок виходить то я збільшив
щоб приблизно виглядав як по макету-->

<!-- Buy now -->
<button type="button" class="button-header">
  Buy now<svg class="button-header__svg" width="6" height="14">
    <use href="./images/icons/icons.svg#icon-button-greather"></use>
  </svg>
</button>

<!-- Products -->
<button type="button" class="button-hero">Products</button>

<!-- Read more -->

<button type="button" class="button-about">
  Read more<svg class="button-header__svg" width="6" height="14">
    <use href="./images/icons/icons.svg#icon-button-greather"></use>
  </svg>
</button>

<!-- Our locations -->

<button type="button" class="button-locations">
  Our locations<svg class="button-contacts__svg" width="6" height="14">
    <use href="./images/icons/icons.svg#icon-button-greather"></use>
  </svg>
</button>

<button type="button" class="button-franchise">Franchise</button>

<!-- Modal window -->
<button type="button" class="button-modal">Submit</button>
