<section class="contacts" id="contacts">
	<div class="container">
		<div class="contacts__block">
			<h2 class="visually-hiden">Contacts</h2>
			<ul class="contacts__list">
				<li class="contacts__item">
					<p class="contacts__suptitle">Cafe</p>
					<h3 class="contacts__title contacts__title--margin">Chicago</h3>
					<a
						href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@41.7034016,-87.7797405,17z/data=!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
						target="_blank"
						class="contacts__link contacts__link--orange-color"
					>
						10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
					</a>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link contacts__link--black-color" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link contacts__link--black-color" href="mailto:noreply@envato.com">
								noreply@envato.com
							</a>
						</li>
					</ul>
				</li>
				<li class="contacts__item">
					<p class="contacts__suptitle">Food Truck</p>
					<h3 class="contacts__title contacts__title--margin">Los Angeles</h3>
					<a
						href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@33.8835263,-118.4103286,17z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
						target="_blank"
						class="contacts__link contacts__link--orange-color"
					>
						1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
					</a>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link contacts__link--black-color" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link contacts__link--black-color" href="mailto:noreply@envato.com">
								noreply@envato.com
							</a>
						</li>
					</ul>
				</li>
				<li class="contacts__item">
					<p class="contacts__suptitle">Cafe</p>
					<h3 class="contacts__title contacts__title--margin">New York</h3>
					<a
						href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.6726938,-73.954734,17z/data=!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
						target="_blank"
						class="contacts__link contacts__link--orange-color"
					>
						726 Sterling Pl, Brooklyn, NY 11222, USA
					</a>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link contacts__link--black-color" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link contacts__link--black-color" href="mailto:noreply@envato.com">
								noreply@envato.com
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="buttons">
			<button type="button" class="button-locations button--size" data-toggle="modal" data-target="#modal-1">
				Our locations
				<svg class="button-contacts__svg" width="6" height="10">
					<use href="./images/icons/icons.svg#icon-button-greather"></use>
				</svg>
			</button>

			<button type="button" class="button-franchise button--size" data-toggle="modal" data-target="#modal-2">
				Franchise
				<svg class="button-contacts__svg" width="6" height="10">
					<use href="./images/icons/icons.svg#icon-button-greather"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
