<section class="contacts" id="contacts">
	<div class="container">
		<div class="contacts__block">
			<h2 class="visually-hiden">Contacts</h2>
			<ul class="contacts__list">
				<li class="contacts__item">
					<p class="contacts__suptitle">Cafe</p>
					<h3 class="contacts__title contacts__title--margin">Chicago</h3>
					<p class="contacts__text">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
						</li>
					</ul>
				</li>
				<li class="contacts__item">
					<p class="contacts__suptitle">Food Truck</p>
					<h3 class="contacts__title contacts__title--margin">Los Angeles</h3>
					<p class="contacts__text">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
						</li>
					</ul>
				</li>
				<li class="contacts__item">
					<p class="contacts__suptitle">Cafe</p>
					<h3 class="contacts__title contacts__title--margin">New York</h3>
					<p class="contacts__text">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="buttons">
			<button type="button" class="button-locations">
				Our locations
				<svg class="button-contacts__svg" width="6" height="10">
					<use href="./images/icons/icons.svg#icon-button-greather"></use>
				</svg>
			</button>

			<button type="button" class="button-franchise">
				Franchise
				<svg class="button-contacts__svg" width="6" height="10">
					<use href="./images/icons/icons.svg#icon-button-greather"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
