<section class="contacts" id="contacts">
	<div class="container">
		<div class="contacts__block">
			<h2 class="visually-hiden">Contacts</h2>
			<ul class="contacts__list">
				<li class="contacts__item">
					<p class="contacts__suptitle">Cafe</p>
					<h3 class="contacts__title contacts__title--margin">Chicago</h3>
					<a
						href="https://www.bing.com/maps?osid=c2fa9209-4581-438f-9a07-b56ec32e9181&cp=41.702845~-87.784654&lvl=16&v=2&sV=2&form=S00027"
						class="contacts__link contacts__link--orange-color"
					>
						10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
					</a>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link contacts__link--black-color" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link contacts__link--black-color" href="mailto:noreply@envato.com">
								noreply@envato.com
							</a>
						</li>
					</ul>
				</li>
				<li class="contacts__item">
					<p class="contacts__suptitle">Food Truck</p>
					<h3 class="contacts__title contacts__title--margin">Los Angeles</h3>
					<a
						href="https://www.bing.com/maps?osid=699d1003-7239-4882-89a0-778b60ee634f&cp=33.883587~-118.410173&lvl=16&v=2&sV=2&form=S00027"
						class="contacts__link contacts__link--orange-color"
					>
						1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
					</a>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link contacts__link--black-color" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link contacts__link--black-color" href="mailto:noreply@envato.com">
								noreply@envato.com
							</a>
						</li>
					</ul>
				</li>
				<li class="contacts__item">
					<p class="contacts__suptitle">Cafe</p>
					<h3 class="contacts__title contacts__title--margin">New York</h3>
					<a
						href="https://www.bing.com/maps?osid=addfedfd-a95d-4e22-b0f5-7f994272a721&cp=40.673303~-73.960079&lvl=16&v=2&sV=2&form=S00027"
						class="contacts__link contacts__link--orange-color"
					>
						726 Sterling Pl, Brooklyn, NY 11222, USA
					</a>
					<ul class="contacts__list--line">
						<li>
							<h3 class="contacts__title">Monday - Friday</h3>
							<p class="contacts__time contacts__time--margin">06:00 AM - 10:00 PM</p>
						</li>
						<li>
							<h3 class="contacts__title">Saturday - Sunday</h3>
							<p class="contacts__time">08:00 AM - 16:00 PM</p>
						</li>
					</ul>
					<ul class="contacts__list--line">
						<li>
							<a class="contacts__link contacts__link--black-color" href="tel:+610383766284">+61(0) 383 766 284</a>
						</li>
						<li>
							<a class="contacts__link contacts__link--black-color" href="mailto:noreply@envato.com">
								noreply@envato.com
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="buttons">
			<button type="button" class="button-locations button--size" data-toggle="modal" data-target="#modal-1">
				Our locations
				<svg class="button-contacts__svg" width="6" height="10">
					<use href="./images/icons/icons.svg#icon-button-greather"></use>
				</svg>
			</button>

			<button type="button" class="button-franchise nbutton--size" data-toggle="modal" data-target="#modal-2">
				Franchise
				<svg class="button-contacts__svg" width="6" height="10">
					<use href="./images/icons/icons.svg#icon-button-greather"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
