<section class="customer-reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title visually-hiden">Customer Rewiews</h2>

    <div class="slider-reviews">
      <div class="slide">
        <div class="review__content">
          <div class="review__photo-wrapper">
            <picture>
              <source
                srcset="
                  ./images/customer-revievs/customer-1.jpg    1x,
                  ./images/customer-revievs/customer-1@2x.jpg 2x
                "
              />
              <img
                class="review__photo"
                src="./images/customer-revievs/customer-1.jpg"
                alt="Photo-1"
                width="85"
              />
            </picture>
          </div>

          <div class="review__quote">
            <blockquote class="review__text">
              <span class="review__text--span">I love visiting your cafe.</span>
              <span class="review__text--span">You prepare the most </span>
              <span class="review__text--span">delicious ice cream in Los</span>
              <span class="review__text--span">Angeles!</span>
              <span class="review__text--span">In addition, you have </span>
              <span class="review__text--span">beautiful serving, cozy</span>
              <span class="review__text--span">atmosphere and polite </span>
              <span class="review__text--span">staff.</span>
            </blockquote>

            <cite class="review__name">Emily, Los Angeles</cite>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="review__content">
          <div class="review__photo-wrapper">
            <picture>
              <source
                srcset="
                  ./images/customer-revievs/customer-2.jpg    1x,
                  ./images/customer-revievs/customer-2@2x.jpg 2x
                "
              />
              <img
                class="review__photo"
                src="./images/customer-revievs/customer-2.jpg"
                alt="Photo-2"
                width="85"
              />
            </picture>
          </div>

          <div class="review__quote">
            <blockquote class="review__text">
              <span class="review__text--span">I love visiting your cafe.</span>
              <span class="review__text--span">You prepare the most </span>
              <span class="review__text--span">delicious ice cream in Los</span>
              <span class="review__text--span">Angeles!</span>
              <span class="review__text--span">In addition, you have </span>
              <span class="review__text--span">beautiful serving, cozy</span>
              <span class="review__text--span">atmosphere and polite </span>
              <span class="review__text--span">staff.</span>
            </blockquote>

            <cite class="review__name">Emily, Los Angeles</cite>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="review__content">
          <div class="review__photo-wrapper">
            <picture>
              <source
                srcset="
                  ./images/customer-revievs/customer-3.jpg    1x,
                  ./images/customer-revievs/customer-3@2x.jpg 2x
                "
              />
              <img
                class="review__photo"
                src="./images/customer-revievs/customer-3.jpg"
                alt="Photo-3"
                width="85"
              />
            </picture>
          </div>

          <div class="review__quote">
            <blockquote class="review__text">
              <span class="review__text--span">I love visiting your cafe.</span>
              <span class="review__text--span">You prepare the most </span>
              <span class="review__text--span">delicious ice cream in Los</span>
              <span class="review__text--span">Angeles!</span>
              <span class="review__text--span">In addition, you have </span>
              <span class="review__text--span">beautiful serving, cozy</span>
              <span class="review__text--span">atmosphere and polite </span>
              <span class="review__text--span">staff.</span>
            </blockquote>

            <cite class="review__name">Emily, Los Angeles</cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
