<section class="customer-reviews">
	<div class="container reviews__container">
		<h2 class="reviews__title visually-hiden">Customer Rewiews</h2>

		<div class="slider-reviews">
			<div class="slide">
				<div class="review__content">
					<div class="review__photo-wrapper">
						<picture>
							<source
								srcset="./images/customer-revievs/customer-1.jpg 1x, ./images/customer-revievs/customer-1@2x.jpg 2x"
							/>
							<img class="review__photo" src="./images/customer-revievs/customer-1.jpg" alt="Photo-1" width="85" />
						</picture>
					</div>

					<div class="review__quote">
						<blockquote class="review__text">
							I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have
							beautiful serving, cozy atmosphere and polite staff.
						</blockquote>

						<cite class="review__name">Emily, Los Angeles</cite>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="review__content">
					<div class="review__photo-wrapper">
						<picture>
							<source
								srcset="./images/customer-revievs/customer-2.jpg 1x, ./images/customer-revievs/customer-2@2x.jpg 2x"
							/>
							<img class="review__photo" src="./images/customer-revievs/customer-2.jpg" alt="Photo-2" width="85" />
						</picture>
					</div>

					<div class="review__quote">
						<blockquote class="review__text">
							Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service
							- always served politely and quickly!
						</blockquote>

						<cite class="review__name">Diana, Chicago</cite>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="review__content">
					<div class="review__photo-wrapper">
						<picture>
							<source
								srcset="./images/customer-revievs/customer-3.jpg 1x, ./images/customer-revievs/customer-3@2x.jpg 2x"
							/>
							<img class="review__photo" src="./images/customer-revievs/customer-3.jpg" alt="Photo-3" width="85" />
						</picture>
					</div>

					<div class="review__quote">
						<blockquote class="review__text">
							I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
						</blockquote>

						<cite class="review__name">Sam, Los Angeles</cite>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="review__content">
					<div class="review__photo-wrapper">
						<picture>
							<source
								srcset="./images/customer-revievs/customer-4.jpg 1x, ./images/customer-revievs/customer-4@2x.jpg 2x"
							/>
							<img class="review__photo" src="./images/customer-revievs/customer-4.jpg" alt="Photo-4" width="85" />
						</picture>
					</div>

					<div class="review__quote">
						<blockquote class="review__text">
							Every day we come to you with friends after classes in college. We love your ice cream and casual
							atmosphere!
						</blockquote>

						<cite class="review__name">Bryan, New-York</cite>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
