<footer>
	<div class=" footer-container">
		<div class="container">
			<div class="footer-descr">
				<div class="moto">
					<p class="moto-first">homemade ice cream made</p>
					<p class="moto-second">with passion</p>
				</div>

				<div class="contact">
					<ul class="contact-soc">
						<li class="contact-soc__item">
							<a href="https://github.com/Dmytro-Ivanenko/command-project17.git"
								class="contact-soc__link">
								<svg class="contact-soc__icon" width="20" height="20">
									<use href="./images/icons/icons.svg#icon-github"></use>
								</svg>
							</a>
						</li>
						<li class="contact-soc__item">
							<a href="https://web.telegram.org/k/" class="contact-soc__link">
								<svg class="contact-soc__icon" width="20" height="20">
									<use href="./images/icons/icons.svg#icon-telegram"></use>
								</svg>
							</a>
						</li>
						<li class="contact-soc__item">
							<a href="https://www.facebook.com/campaign/landing.php?campaign_id=17864235510&extra_1=s%7Cc%7C612865126506%7Cb%7Cfacebook%20%D0%B2%D1%85%D0%BE%D0%B4%7C&placement=&creative=612865126506&keyword=facebook%20%D0%B2%D1%85%D0%BE%D0%B4&partner_id=googlesem&extra_2=campaignid%3D17864235510%26adgroupid%3D139656484299%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-20104174307%26loc_physical_ms%3D9062877%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMIgd-n0PD6-QIVV_hRCh1UmAsSEAAYASAAEgJaYPD_BwE"
								class="contact-soc__link">
								<svg class="contact-soc__icon" width="20" height="20">
									<use href="./images/icons/icons.svg#icon-facebook"></use>
								</svg>
							</a>
						</li>
					</ul>
					<ul class="contact-phone">
						<li class="contact-footer contact-footer__offer">Feel free to contact
						</li>
						<li class="contact-footer">
							<a href="tel:+61(0)383766284" class="contact-footer__phone">+61 (0) 383 766 284</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-under">
				<p class="footer-under__copyright">2022 - IceCream. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>