<div class="hero-header">
  <header class="header">
    <div class="container">
      <nav class="header__nav">
        <svg class="header__logo"></svg>

        <ul class="nav__list">
          <li class="nav__list-item">
            <a class="nav__link" href="#home">Home</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__link" href="#about">About us</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__link" href="#how-it-made">How it’s made?</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__link" href="#contact">Contact</a>
          </li>
        </ul>

        <button class="hero__button-by-now" type="button">
          Buy now
          <svg class="button-by-now__icon"></svg>
        </button>
      </nav>
    </div>
  </header>

  <section class="hero">
    <div class="container">
      <div>
        <h1 class="hero__title">ice cream made with passion</h1>

        <ul class="hero__link-list">
          <li class="hero__link-list-item">
            <a class="hero__link" href="">Products</a>
          </li>
          <li class="hero__link-list-item">
            <a class="hero__link" href="">How it’s made?</a>
          </li>
        </ul>

        <div class="hero__description-box">
          <div class="hero__description-sub-box">
            <p class="hero__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Dignissimos quos exercitationem illo molestiae distinctio itaque
              voluptatem ab consectetur, modi autem?
            </p>
            <button class="arrow">
              <svg class="arrow__icon"></svg>
            </button>
          </div>
        </div>
      </div>

      <div class="trading-points">
        <p class="trading-points__count">16</p>
        <p class="trading-points__type">cafes</p>
        <p class="trading-points__count">23</p>
        <p class="trading-points__type">food trucks</p>
      </div>

      <img
        class="hero__happy-ice-cream"
        src="./images/header-hero/test.jpg"
        alt="ice-cream"
      />
    </div>
  </section>
</div>
