<!-- <div class="backdrop-ingredients">
    <div class="modal-ingredients">
        <a href="#" class="close" title="закрыть">×</a>

        <p class="modal-about__name">Chololate icecream</p>

        <p class="modal-ingredients__icecrem">
            <img src="./images/by-now/chololate-icecrem@1x.png" style="border-radius: 50%" alt="Chololate icecream" />
        </p>

        <p class="modal-about__title">Ingredients</p>

        <ul>
            <li>
                <p>320</p>
                <p>kcal</p>
            </li>

            <li>
                <p>4g</p>
                <p>Protein...</p>
            </li>

            <li>
                <p>8,2g</p>
                <p>Fats</p>
            </li>

            <li>
                <p>40,4g</p>
                <p>Carbs</p>
            </li>
        </ul>

        <div>
            <ul>
                <li>Milk</li>
                <li>Belgian chocolate</li>
                <li>Cream</li>
                <li>Cocoa powder</li>
                <li>Sugar</li>
                <li>Vanilla sugar</li>
            </ul>
            
            <ul>
                <li>100ml</li>
                <li>20g</li>
                <li>150 ml</li>
                <li>30g</li>
                <li>40g</li>
                <li>10g</li>
            </ul>

        </div>

        

        <form>
            <div>
                <div class="modal-form-field">
                    <input type="text" name="user_name" class="modal-form-field-input" required pattern="^[a-zA-Z]+$" minlength="2">
                    <label for="name" class="modal-form-field-input-desc">Name</label>
                </div>
                
                <div class="modal-form-field">
                    <input type="tel" name="user_phone" class="modal-form-field-input" required pattern="[789][0-9]{9}">
                    <label for="tel" class="modal-form-field-input-desc">Phone</label>
                </div>
                
                <div class="modal-form-comment">
                    <textarea name="user_comment" class="modal-form-textarea"></textarea>
                    <label class="modal-form-field-input-comment">Comment</label>
                </div>
            </div>

            <button type="button" class="button-modal">Submit</button>
        </form>

        


    </div>
</div> -->