

<div id="modal-2" class="modal">
	<div class="backdrop-locations">
		<div class="modal-locations">
			<!-- <a href="#" class="close" title="закрыть">×</a> -->

			<p class="modal-about__name">Our Locations</p>
			<p class="modal-locations__map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.866156508345!2d30.53189501568878!3d50.424965297082004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sua!4v1662322684275!5m2!1sru!2sua"
					width="448"
					height="260"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</p>
            <div class="modal-locations-btn"><button type="button" class="button-modal">Open map</button></div>
			
		</div>
	</div>
</div>

