<div id="modal-2" class="modal">
	<div class="modal-franchise">
		<div class="modal-franchise__container">

			<button class="close modal__btn-close">
				<svg class="modal__icon-close">
					<use href="./images/icons/icons.svg#icon-close"></use>
				</svg>
			</button>

			<p class="modal-name ">
				Thank you for your interest in owning an Ice Cream shop
			</p>

			<p class="modal-description">
				Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at
				this
				time. Once the application process resumes, we will contact you for further information. Please fill out
				the
				contact information below and we will reach out for additional information. We appreciate your patience.
			</p>
			<form class="modal-form">
				<div class="modal-form-form">
					<div class="modal-form-field">
						<input id="fr-username" type="text" name="user_name" class="modal-form-field-input" required
							pattern="^[a-zA-Z]+$" minlength="2" />
						<label for="fr-username" class="modal-form-field-input-desc">Name</label>
					</div>

					<div class="modal-form-field">
						<input id="fr-tel" type="tel" name="user_phone" class="modal-form-field-input" required
							pattern="[789][0-9]{9}" />
						<label for="fr-tel" class="modal-form-field-input-desc">Phone</label>
					</div>

					<div class="modal-form-field">
						<input id="fr-email" type="email" class="modal-form-field-input" required />
						<label for="fr-email" class="modal-form-field-input-desc">Email</label>
					</div>

					<div class="modal-form-comment">
						<textarea id="fr-textarea" name="user_comment" class="modal-form-textarea"></textarea>
						<label for="fr-textarea" class="modal-form-field-input-comment">Comment</label>
					</div>
				</div>
				<button class="button-modal modal-btn" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>