<div id="modal-3" class="modal">
	<div class="modal-buy-now modal-buy-now__container">
		<div class="modal-buy-now__wrapper">
			<button class="close modal__btn-close">
				<svg class="modal__icon-close">
					<use href="./images/icons/icons.svg#icon-close"></use>
				</svg>
			</button>

			<p class="modal-buy-now__name">Buy now</p>
			<ul class="modal-buy-now__list">
				<li class="modal-buy-now__item-prod-1 prod-1">
					<div class="modal-buy-now__card-wrapper">
						<p class="modal-buy-now__card-label">Ice cream</p>
					</div>
				</li>
				<li class="modal-buy-now__item-prod-2 prod-2">
					<div class="modal-buy-now__card-wrapper">
						<p class="modal-buy-now__card-label">Ice coffe</p>
					</div>
				</li>
				<li class="modal-buy-now__item-prod-3 prod-3">
					<div class="modal-buy-now__card-wrapper">
						<p class="modal-buy-now__card-label">Milkshake</p>
					</div>
				</li>
			</ul>
		</div>
		<form class="modal-buy-now-form">
			<label class="modal-buy-now-form__field">
				<input
					type="text"
					name="user-name"
					placeholder="Name"
					class="modal-buy-now-form__input"
					required
					minlength="2"
					pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
				/>
			</label>
			<label class="modal-buy-now-form__field">
				<input
					type="tel"
					name="user-phone"
					placeholder="Phone"
					class="modal-buy-now-form__input"
					required
					pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
					title="xxx-xxx-xx-xx"
				/>
			</label>
			<label class="modal-buy-now-form__field-user-msg">
				<textarea name="user-message" class="modal-buy-now-form__message" placeholder="Comment"></textarea>
			</label>
			<button class="button-modal" type="submit">Submit</button>
		</form>
	</div>
</div>
