<div class="container modal-window-container">
  <!-- <div class="backdrop is-hidden" data-modal> -->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal-about">
      <button class="modal-close-btn" type="button" data-modal-close>
        <svg class="modal-close-btn__icon" width="20" height="20">
          <use href="./images/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal-about__name">How it’s made?</p>
      <iframe
        class="modal-about__video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/8WEMZ86Eho8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="modal-about__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
