<div class="backdrop-ingredients">
    <div class="modal-ingredients">
        <button class="close modal__btn-close">
            <svg class="modal__icon-close">
                <use href="./images/icons/icons.svg#icon-close"></use>
            </svg>
        </button>

        <div class="modal-ingredients-menu">
            <p class="modal-about__name">Chololate icecream</p>
            
            <div class="modal-ingredients__icecrem">
                <img class="modal-ingredients__icecrem-img" src="./images/by-now/chololate-icecrem@1x.png" style="border-radius: 50%" alt="Chololate icecream" />
            </div>
            
            
            <ul class="value">
                <li class="value__calories">
                    <div class="value__calories-container">
                        <p class="value__calories-weight">320</p>
                        <p class="value__calories-meaning">kcal</p>
                    </div>
                    
                </li>
            
                <li class="value__calories">
                    <div class="value__calories-container">
                        <p  class="value__calories-weight">4g</p>
                        <p class="value__calories-meaning">Protein...</p>
                    </div>
                
                </li>
            
                <li class="value__calories">
                    <div  class="value__calories-container">
                        <p  class="value__calories-weight">8,2g</p>
                        <p class="value__calories-meaning">Fats</p>

                    </div>
                </li>
            
                <li class="value__calories">
                    <div  class="value__calories-container">
                        <p  class="value__calories-weight">40,4g</p>
                        <p class="value__calories-meaning">Carbs</p>
                    </div>
                    
                </li>
            </ul>
            
            <p class="modal-ingredients__title">Ingredients</p>
            
            <table class="ingredients-table">
                <tr class="ingredients__stroke">
                    <td class="ingredients__td">Milk</td>
                    <td class="ingredients__td_right">100ml</td>
                </tr>
                <tr class="ingredients__stroke">
                    <td class="ingredients__td">Belgian chocolate</td>
                    <td class="ingredients__td_right">20g</td>
                </tr>
                <tr class="ingredients__stroke">
                    <td class="ingredients__td">Cream</td>
                    <td class="ingredients__td_right">150 ml</td>
                </tr>
                <tr class="ingredients__stroke">
                    <td class="ingredients__td">Cocoa powder</td>
                    <td class="ingredients__td_right">30g</td>
                </tr>
                <tr class="ingredients__stroke">
                    <td class="ingredients__td">Sugar</td>
                    <td class="ingredients__td_right">40g</td>
                </tr>
                <tr class="ingredients__stroke">
                    <td class="ingredients__td">Vanilla sugar</td>
                    <td class="ingredients__td_right">10g</td>
                </tr>
            </table>
            
            
            <form class="modal-ingredients__form">
                <div class="modal-ingredients__form-info">
                    <div class="modal-form-box">
                        <input type="text" name="user_name" class="modal-form-input-box" required pattern="^[a-zA-Z]+$"
                            minlength="2">
                        <label for="name" class="modal-form-desc-box">Name</label>
                    </div>
            
                    <div class="modal-form-box">
                        <input type="tel" name="user_phone" class="modal-form-input-box" required pattern="[789][0-9]{9}">
                        <label for="tel" class="modal-form-desc-box">Phone</label>
                    </div>
            
                    <div class="modal-form-comment-box">
                        <textarea name="user_comment" class="modal-form-textarea-box"></textarea>
                        <label class="modal-form-comment-box-info">Comment</label>
                    </div>
                </div>
            
                <button type="button" class="button-modal modal-btn-ice">Submit</button>
            </form>

        </div>

        

        


    </div>
</div>