<div class="container modal-window-container">
	<!-- До того як додасться скрипт для відкриття-закриття модалки щоб показати 
		або приховати модалку з класу class="backdrop is-hidden" вручну прибираємо або додаємо is-hidden -->

	<div class="modal-about">
		<p class="modal-about__name">How it’s made?</p>
		<iframe
			class="modal-about__video"
			width="560"
			height="315"
			src="https://www.youtube.com/embed/8WEMZ86Eho8"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		></iframe>
		<p class="modal-about__description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
			dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
		</p>
	</div>
</div>
