<div id="modal-4" class="modal">
	<div class="container modal-window-container">
		<div class="modal-about">
			<a href="#" class="close" title="закрыть">×</a>
			<p class="modal-about__name">How it’s made?</p>
			<iframe
				class="modal-about__video"
				width="560"
				height="315"
				src="https://www.youtube.com/embed/8WEMZ86Eho8"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
			></iframe>
			<p class="modal-about__description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem
				ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			</p>
		</div>
	</div>
</div>
