<section class="products-section" id="products">
	<div class="container">
		<p class="products-section__label">100% natural</p>
		<h2 class="products-section__title">products</h2>
		<ul class="products-section__menu">
			<li class="products-section__menu-item product-1">
				<div class="products-section__menu-item-wrapper">
					<div class="item-face-card">
						<div>
							<h3 class="products-section__menu-item-title">ice cream</h3>
							<p class="products-section__menu-item-desc">
								Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
							</p>
						</div>
						<button type="button" class="products-section__btn">
							<svg class="products-section__btn-icon" width="40" height="15">
								<use href="./images/icons/icons.svg#icon-arrow" />
							</svg>
						</button>
					</div>
					<div class="item-back-card">
						<p class="products-section__menu-item-desc">
							Ice cream is a colloidal emulsion made with water, ice, milk fat, milk protein, sugar and air. The taste
							depends on the filler.
						</p>
					</div>
				</div>
			</li>
			<li class="products-section__menu-item product-2">
				<div class="products-section__menu-item-wrapper">
					<div class="item-face-card">
						<div>
							<h3 class="products-section__menu-item-title">ice coffee</h3>
							<p class="products-section__menu-item-desc">
								Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
								flavor enhancers
							</p>
						</div>
						<button type="button" class="products-section__btn">
							<svg class="products-section__btn-icon" width="40" height="15">
								<use href="./images/icons/icons.svg#icon-arrow" />
							</svg>
						</button>
					</div>
					<div class="item-back-card">
						<p class="products-section__menu-item-desc">
							Ingredients: 1 cup ice (or coffee frozen into cubes); 1 cup coffee, at room temperature or chilled; 2
							tablespoons cream, milk or half & half; 1 to 2 teaspoons granulated white sugar (or simple syrup).
						</p>
					</div>
				</div>
			</li>
			<li class="products-section__menu-item product-3">
				<div class="products-section__menu-item-wrapper">
					<div class="item-face-card">
						<div>
							<h3 class="products-section__menu-item-title">milkshakes</h3>
							<p class="products-section__menu-item-desc">
								Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of
								your choice
							</p>
						</div>
						<button type="button" class="products-section__btn">
							<svg class="products-section__btn-icon" width="40" height="15">
								<use href="./images/icons/icons.svg#icon-arrow" />
							</svg>
						</button>
					</div>
					<div class="item-back-card">
						<p class="products-section__menu-item-desc">
							Ingredients: ⅔ cup milk; 2 cups ice cream (use chocolate ice cream for a chocolate shake); 3 tablespoons
							chocolate syrup or mix ins of your choice; whipped cream for topping optional.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
