// mobile buttons

.button-header {
	// font-family: Montserrat;
	text-align: center;
	background: var(--acc-color);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	stroke: var(--second-font-color);
	fill: var(--second-font-color);
	@include font(14px, 600, 17px);
	@include padding-button(12px, 12px, 33px, 33px);

	&:hover {
		background-color: var(--active-button);
	}
	&:focus {
		background-color: var(--active-button);
		color: var(--alt-font-color);
		stroke: var(--alt-font-color);
		fill: var(--alt-font-color);
	}
	@extend %animation;
}

// .button-header {
// 	stroke: var(--second-font-color);
// 	fill: var(--second-font-color);
// 	&:focus {
// 		stroke: var(--alt-font-color);
// 		fill: var(--alt-font-color);
// 	}
// 	@extend %animation;
// }

.button-header__svg {
	margin-left: 7px;
}
.button-hero {
	// font-family: Montserrat;
	text-align: center;
	border: 2px solid #f8d24e;
	border-radius: 8px;
	@include font(14px, 600, 17px);
	@include padding-button(12px, 12px, 36px, 36px);

	&:hover {
		border-color: var(--active-button);
	}
	&:focus {
		border-color: var(--active-button);
		color: var(--alt-font-color);
	}
	@extend %animation;
}
.button-about {
	// font-family: Montserrat;
	text-align: center;
	background: var(--acc-color);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;

	@include font(14px, 600, 17px);
	@include padding-button(12px, 12px, 34px, 34px);

	&:hover {
		background-color: var(--active-button);
	}
	&:focus {
		background-color: var(--active-button);
		color: var(--alt-font-color);
	}
	@extend %animation;
}

.button-locations {
	// font-family: Montserrat;
	text-align: center;
	background: var(--acc-color);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	stroke: var(--second-font-color);
	fill: var(--second-font-color);
	@include font(14px, 600, 17px);
	@include padding-button(13px, 13px, 15px, 17px);

	&:hover {
		background-color: var(--active-button);
	}
	&:focus {
		background-color: var(--active-button);
		color: var(--alt-font-color);
		stroke: var(--alt-font-color);
		fill: var(--alt-font-color);
	}
	@extend %animation;
}

.button-contacts__svg {
	margin-left: 7px;
}

.button-franchise {
	// font-family: Montserrat;
	text-align: center;
	border: 2px solid #f8d24e;
	color: var(--second-font-color);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	@include font(14px, 600, 17px);
	@include padding-button(13px, 13px, 31px, 31px);

	&:hover,
	&:focus {
		border-color: #0a8817;
	}
	&:hover {
		border-color: var(--active-button);
	}
	&:focus {
		border-color: var(--active-button);
		color: var(--alt-font-color);
	}
	@extend %animation;
}

.button-modal {
	// font-family: Montserrat;
	text-align: center;
	background: var(--acc-color);
	border-radius: 10px;

	@include font(12px, 600, 15px);
	@include padding-button(7px, 7px, 43px, 43px);

	&:hover {
		background-color: var(--active-button);
	}
	&:focus {
		background-color: var(--active-button);
		color: var(--alt-font-color);
	}
	@extend %animation;
}
