.contacts__block {
    position: absolute;
    top:-325px;
    left: 50%;
    transform: translate(-50%);
}
.contacts {
    position: relative;
    padding-top: 1110px;
    

    background-color: var(--main-bcg);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833333;
    letter-spacing: 0.04em;
}

.contacts__item {
    padding: 40px 32px;
    width: 280px;
    background: var(--card-bcg);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.contacts__suptitle {
    padding: 0 23px;
    margin-bottom: 20px;
    background: var(--acc-color);
    border-radius: 4px;
    display: inline-block;
    color: var(--alt-font-color);
    text-transform: uppercase;
}
.contacts__title {
    color: var(--second-font-color);
}
.contacts__title--margin {
    margin-bottom: 8px;
}
.contacts__text {
    color: var(--contacts-font-color);
}
.contacts__time {
    margin-bottom: 8px;
    color: var(--time-font-color);
}
.contacts__link {
    line-height: 1.5;
    color: var(--contacts-font-color);
    text-decoration: none;
}
.contacts__list--line::before {
    content: "";
    display: block;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.buttons {
    display: flex;  
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
.button {
    width: 161px;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FCFCFC;
    border: 2px solid var(--acc-color);
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}