*{
    outline: violet solid 1px;
}

// Header

.hero-header{
background-color: var(--main-bcg);
    color: var(--alt-font-color);
    .button-header{
        display: none;
        min-width: 125px;
        height: 42px;

    }
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.nav__list{
    display: none;
}


.burger-button__svg{
    stroke:var(--modal-bcg);
}
.button-header__svg{
   

}



// header tablet
@media screen and (min-width: 768px) {

    .hero-header {
            background-color: var(--main-bcg);
            color: var(--alt-font-color);
    
            .button-header {
                display: flex;
            }
        }

        .header__button-box{
            display: flex;
            align-items: center;
            gap: 30px;
        }
}


// header desktop
@media screen and (min-width: 1200px) {
.header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}



    .burger-button{
        display: none;
    }
}






// @media screen and ()


// Burger menu
.burger-menu__close-icon{
    stroke:#fff;
    fill: #fff;
}