.modal-ingredients {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, -50%);
    width: 528px;
    height: 995px;
    background-color: #FFFFFF;
    
    border: 2px solid #F8D24E;
    border-radius: 10px;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 18px;
    padding-right: 18px;
    overflow-y: auto;

}

.backdrop-ingredients {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 528px;
    height: 995px;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 100;
}

