.modal-buy-now {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.modal-buy-now__container {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 28px;
	transform: translate(-50%, -50%);
	width: 568px;
	height: 100vh;
	max-height: 966px;
	overflow: auto;
	background-color: #ffffff;

	border: 2px solid #f8d24e;
	border-radius: 10px;
}

.modal-buy-now__wrapper > .close {
	position: absolute;
	top: 8px;
	right: 8px;

	&:hover,
	&:focus {
		fill: var(--acc-color);
	}
	@extend %animation;
}
.modal-buy-now-form {
	display: flex;
	flex-direction: column;
	// align-items: center;
	// justify-content: center;
}

.modal-buy-now__name {
	font-family: "Seymour One";
	font-style: normal;
	text-align: center;
	@include font(16px, 400, 24px);

	margin-bottom: 83px;
}

.modal-buy-now__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-buy-now__list {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	margin-bottom: 24px;
}

.modal-buy-now__item-prod-1 {
	position: relative;
	width: 132px;
	margin-right: auto;
	margin-left: auto;
	height: 135px;
	border: 2px solid #96af8c;
	// box-shadow: (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
	border-radius: 15.7808px;
}
.modal-buy-now__item-prod-2 {
	position: relative;
	width: 132px;
	margin-right: auto;
	margin-left: auto;
	height: 135px;
	border: 2px solid #efd478;
	background-color: #efd478;
	box-shadow: (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
	border-radius: 15.7808px;
}
.modal-buy-now__item-prod-3 {
	position: relative;
	width: 132px;
	margin-right: auto;
	margin-left: auto;
	height: 135px;
	border: 2px solid #d6936d;
	border-radius: 15.7808px;
}

.modal-buy-now__item-prod-1:not(:last-child),
.modal-buy-now__item-prod-2:not(:last-child),
.modal-buy-now__item-prod-3:not(:last-child) {
	margin-bottom: 83px;
}
.modal-buy-now__card-label {
	margin-top: 95px;
	text-transform: uppercase;
	text-align: center;
	@include font(16px, 700, 20px);
	letter-spacing: 0.04em;
}

.modal-buy-now-form__field {
	margin-bottom: 12px;
}

.modal-buy-now-form__input {
	outline: none;
	width: 100%;
	// max-width: 368px;
	height: 32px;
	padding: 8px 12px;
	background: rgba(248, 210, 78, 0.1);
	border: 1px solid var(--bcg-btn-hover);
	border-radius: 10px;
	//   transition: border-color var(--transition-dur-and-func);

	&::placeholder {
		font-family: "Montserrat";
		@include font(12px, 400, 17px);
		color: var(--second-font-color);
	}
	&:focus {
		border-color: var(--acc-color);
	}
	@extend %animation;
}

.modal-buy-now-form__message {
	resize: none;
	outline: none;
	width: 100%;
	// max-width: 368px;
	margin-bottom: 24px;
	height: 64px;
	padding: 8px 12px;
	background: rgba(248, 210, 78, 0.1);
	border: 1px solid var(--bcg-btn-hover);
	border-radius: 10px;
	//   transition: border-color var(--transition-dur-and-func);

	&::placeholder {
		font-family: "Montserrat";
		@include font(12px, 400, 17px);
		color: var(--second-font-color);
	}
	&:focus {
		border-color: var(--acc-color);
	}
}
textarea {
	vertical-align: top;
}

.modal-buy-now-modal {
	align-self: center;
	// @extend %animation;
}

// ==========================product-123==================
.prod-1::before,
.prod-2::before,
.prod-3::before {
	display: block;
	content: "";
	width: 132px;
	height: 138px;
	border-radius: 50%;
	background-size: cover;

	position: absolute;
	z-index: 100;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.prod-1::before {
	background-image: url(../images/products/ice-cream-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.prod-1::before {
		background-image: url(../images/products/ice-cream-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.prod-1::before {
		background-image: url(../images/products/ice-cream-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.prod-1::before {
		background-image: url(../images/products/ice-cream-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.prod-1::before {
		background-image: url(../images/products/ice-cream-desktop.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.prod-1::before {
		background-image: url(../images/products/ice-cream-desktop@2x.jpg);
	}
}

.prod-2::before {
	background-image: url(../images/products/ice-coffee-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.prod-2::before {
		background-image: url(../images/products/ice-coffee-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.prod-2::before {
		background-image: url(../images/products/ice-coffee-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.prod-2::before {
		background-image: url(../images/products/ice-coffee-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.prod-2::before {
		background-image: url(../images/products/ice-coffee-desktop.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.prod-2::before {
		background-image: url(../images/products/ice-coffee-desktop@2x.jpg);
	}
}

.prod-3::before {
	background-image: url(../images/products/milkshake-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.prod-3::before {
		background-image: url(../images/products/milkshake-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.prod-3::before {
		background-image: url(../images/products/milkshake-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.prod-3::before {
		background-image: url(../images/products/milkshake-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.prod-3::before {
		background-image: url(../images/products/milkshake-desktop.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.prod-3::before {
		background-image: url(../images/products/milkshake-desktop@2x.jpg);
	}
}

// =====================after==================

.prod-1::after,
.prod-2::after,
.prod-3::after {
	display: block;
	content: "";
	width: 132px;
	height: 138px;
	border-radius: 50%;

	position: absolute;
	z-index: 99;
	top: 0;
	left: 50%;
	transform: translate(-50%, -45%);
}

.prod-1::after {
	background: var(--cream-img-bcg);
	box-shadow: 0px 5.34px 20.03px rgba(10, 136, 23, 0.25);
}

.prod-2::after {
	background: var(--coffee-img-bcg);
	box-shadow: 0px 5.34px 20.03px rgba(153, 114, 23, 0.25);
}

.prod-3::after {
	background: var(--milk-img-bcg);
	box-shadow: 0px 5.34px 20.03px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
	.modal-buy-now {
		width: 100%;
		max-width: 280px;

		// height: 609px;
	}
}

@media screen and (min-width: 768px) {
	.modal-buy-now__container {
		padding: 32px;
		height: auto;
		max-height: 644px;
	}
	.modal-buy-now__wrapper > .close {
		top: 20px;
		right: 20px;
	}
	.modal-buy-now__name {
		@include font(20px, 400, 28px);

		margin-bottom: 103px;
	}
	.modal-buy-now__list {
		display: flex;
		margin-bottom: 40px;
		gap: 32px;
		flex-wrap: wrap;
	}
	.modal-buy-now__item-prod-1,
	.modal-buy-now__item-prod-2,
	.modal-buy-now__item-prod-3 {
		margin: 0;
		flex-basis: calc((100% - 64px) / 3);
	}
	.modal-buy-now__item-prod-1:not(:last-child),
	.modal-buy-now__item-prod-2:not(:last-child),
	.modal-buy-now__item-prod-3:not(:last-child) {
		margin-bottom: 0;
	}
	.modal-buy-now-form__input {
		width: 368px;

		height: 42px;

		&::placeholder {
			@include font(14px, 400, 20px);
		}
	}
	.modal-buy-now-form__message {
		width: 368px;
		margin-bottom: 32px;
		&::placeholder {
			@include font(14px, 400, 20px);
		}
	}
	.modal-buy-now-form {
		align-items: center;
	}

	.modal-buy-now-form__field {
		margin-bottom: 16px;
	}
	.button-modal {
		@include font(14px, 600, 17px);
	}
}
