.products-section {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--modal-bcg);
	background-image: url(../images/products/mobile-fone.jpg);
	background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.products-section {
		background-image: url(../images/products/mobile-fone@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.products-section {
		padding-bottom: 80px;
		background-image: url(../images/products/tablet-fone.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.products-section {
		background-image: url(../images/products/tablet-fone@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.products-section {
		padding-bottom: 65px;
		background-image: url(../images/products/desktop-fone.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.products-section {
		background-image: url(../images/products/desktop-fone@2x.jpg);
	}
}

.products-section__label {
	margin-bottom: 12px;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.22;
	color: var(--second-font-color);
	text-transform: uppercase;
	text-align: center;
}

.products-section__title {
	margin-bottom: 148px;
	font-family: "Seymour One", sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.27;
	letter-spacing: 0.04em;
	color: var(--second-font-color);
	text-transform: uppercase;
	text-align: center;
}

.products-section__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.products-section__menu-item {
	width: 100%;
	max-width: 280px;
	height: 420px;
	padding-top: 123px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 24px;
	align-self: center;

	position: relative;

	perspective: 3000px;

	&:first-child {
		background-color: var(--cream-bcg);
	}

	&:nth-child(2n) {
		background-color: var(--coffee-bcg);
	}

	&:last-child {
		background-color: var(--milk-bcg);
	}

	&:not(:last-child) {
		margin-bottom: 164px;
	}
}

.product-1::before,
.product-2::before,
.product-3::before {
	display: block;
	content: "";
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-size: cover;

	position: absolute;
	z-index: 100;
	top: 0;
	left: 50%;
	transform: translate(-50%, -60%);
}

.product-1::before {
	background-image: url(../images/products/ice-cream-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.product-1::before {
		background-image: url(../images/products/ice-cream-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.product-1::before {
		background-image: url(../images/products/ice-cream-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.product-1::before {
		background-image: url(../images/products/ice-cream-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.product-1::before {
		background-image: url(../images/products/ice-cream-desktop.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.product-1::before {
		background-image: url(../images/products/ice-cream-desktop@2x.jpg);
	}
}

.product-2::before {
	background-image: url(../images/products/ice-coffee-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.product-2::before {
		background-image: url(../images/products/ice-coffee-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.product-2::before {
		background-image: url(../images/products/ice-coffee-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.product-2::before {
		background-image: url(../images/products/ice-coffee-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.product-2::before {
		background-image: url(../images/products/ice-coffee-desktop.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.product-2::before {
		background-image: url(../images/products/ice-coffee-desktop@2x.jpg);
	}
}

.product-3::before {
	background-image: url(../images/products/milkshake-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.product-3::before {
		background-image: url(../images/products/milkshake-mobile@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.product-3::before {
		background-image: url(../images/products/milkshake-tablet.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.product-3::before {
		background-image: url(../images/products/milkshake-tablet@2x.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.product-3::before {
		background-image: url(../images/products/milkshake-desktop.jpg);
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.product-3::before {
		background-image: url(../images/products/milkshake-desktop@2x.jpg);
	}
}

.product-1::after,
.product-2::after,
.product-3::after {
	display: block;
	content: "";
	width: 200px;
	height: 200px;
	border-radius: 50%;

	position: absolute;
	z-index: 99;
	top: 0;
	left: 50%;
	transform: translate(-50%, -55%);
}

.product-1::after {
	background: var(--cream-img-bcg);
	box-shadow: 0px 5.34px 20.03px rgba(10, 136, 23, 0.25);
}

.product-2::after {
	background: var(--coffee-img-bcg);
	box-shadow: 0px 5.34px 20.03px rgba(153, 114, 23, 0.25);
}

.product-3::after {
	background: var(--milk-img-bcg);
	box-shadow: 0px 5.34px 20.03px rgba(0, 0, 0, 0.25);
}

.products-section__menu-item-wrapper {
	width: 100%;
	height: 100%;

	position: relative;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.item-face-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.products-section__menu-item-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.04em;
	color: var(--main-font-color);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.products-section__menu-item-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.79;
	letter-spacing: 0.04em;
	color: var(--main-font-color);
	text-align: center;
}

.products-section__btn {
	display: block;
	line-height: 0px;
	border: none;
	background: none;
	margin-left: auto;
	margin-right: auto;
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

.item-back-card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-radius: 24px;
	color: rgb(165, 42, 42);
	text-align: center;
	overflow: hidden;
	background-color: rgb(221, 217, 217);
	transform: rotateY(180deg);
}

.item-back-card .products-section__menu-item-desc {
	line-height: 1.2;
}

.item-face-card,
.item-back-card {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.products-section__menu-item:hover .products-section__menu-item-wrapper,
.products-section__menu-item:focus .products-section__menu-item-wrapper {
	transform: rotateY(180deg);
}

@media screen and (min-width: 768px) {
	.products-section__label {
		font-size: 22px;
	}

	.products-section__title {
		margin-bottom: 200px;
		font-size: 34px;
	}

	.products-section__menu {
		flex-wrap: nowrap;
		gap: 16px;
	}

	.products-section__menu-item {
		width: 224px;
		height: 428px;
		padding-top: 108px;
		padding-left: 39px;
		padding-right: 39px;
		border-radius: 15.78px;

		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

	.products-section__menu-item-title {
		font-size: 22px;
		line-height: 1.22;
	}

	.item-back-card {
		border-radius: 15.78px;
	}
}

@media screen and (min-width: 1200px) {
	.products-section__label {
		font-size: 30px;
		line-height: 1.23;
	}

	.products-section__title {
		margin-bottom: 303px;
		font-size: 36px;
		line-height: 1.25;
	}

	.products-section__menu {
		gap: 29px;
	}

	.products-section__menu-item {
		width: 370px;
		max-width: 370px;
		height: 535px;
		padding-top: 166px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 55px;
		border-radius: 24px;
	}

	.product-1::before,
	.product-2::before,
	.product-3::before {
		width: 300px;
		height: 300px;
	}

	.product-1::after,
	.product-2::after,
	.product-3::after {
		width: 300px;
		height: 300px;
	}

	.products-section__menu-item-title {
		font-size: 30px;
		line-height: 1.23;
		margin-bottom: 65px;
	}

	.products-section__menu-item-desc {
		font-size: 16px;
		line-height: 1.75;
	}

	.item-back-card {
		padding: 20px;
		border-radius: 24px;
	}

	.item-back-card .products-section__menu-item-desc {
		line-height: 1.5;
	}
}
